pkgbase = ryzen_smu-dkms-git
	pkgdesc = A Linux kernel driver that exposes access to the SMU (System Management Unit) for certain AMD Ryzen Processors
	pkgver = 179.b0e87fb
	pkgrel = 1
	url = https://github.com/kylon/ryzen_smu
	install = ryzen_smu.install
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = dkms
	provides = ryzen_smu
	provides = ryzen_smu-dkms
	conflicts = ryzen_smu
	conflicts = ryzen_smu-dkms
	source = ryzen_smu::git+https://github.com/kylon/ryzen_smu.git
	source = dkms.conf
	source = ryzen_smu.conf
	sha256sums = SKIP
	sha256sums = 2edceff448e99aea8569348b97388aeb13cb233e211fcea685fdaa67a1aeaf18
	sha256sums = a48f5c846ca5fd8f185f1317c8001c97f59ac432392d53b581802c7761b9360f

pkgname = ryzen_smu-dkms-git
